<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Internacional de Fotografia</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            position: relative;
            font-family: Arial, sans-serif;
        }

        .content-container {
            text-align: center;
            padding-top: 20px;
        }

        .content-title {
            font-size: 25px;
            font-weight: bold;
            color: #BD93F9;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .content-wrapper {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            width: 90%;
            color: #FFFFFF;
            text-align: left;
        }

        .privacy-policy {
            margin-bottom: 40px;
        }

        .founder {
            margin-top: 40px;
        }

        .quote {
            font-style: italic;
            margin-top: 20px;
        }


        a {
            color: #BD93F9;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="content-container">
        <div class="content-wrapper">
            <p class="content-title">Instituto Internacional de Fotografia</p>

            <p>O IIF é um instituto que oferece cursos de fotografia em São Paulo (SP) desde 2009. Com toda a sua experiência e didática de ensino, hoje o IIF é uma das melhores escolas de fotografia de São Paulo, oferecendo cursos e workshops para fotógrafos profissionais e amadores.</p>

            <p>A plataforma IIF Online abrange cursos On Demand, onde você pode escolher exatamente o momento em que quer estudar e adquirir conhecimento. Por meio de um ensino plural, todo e qualquer conhecimento pode ser compartilhado para que esteja ao alcance daqueles que querem estudar fotografia. Possuímos um canal de palestras gratuitas sobre fotografia no <a href="#">IIF TV</a>, onde oferecemos todos os tipos de conteúdos em formato de vídeo.</p>

            <p>Além disso, temos o <a href="#">Photomag</a>, que é uma revista eletrônica com matérias, dicas gratuitas e novidades para fotógrafos profissionais e amadores, sempre buscando trazer informações relevantes para o universo da fotografia, levando conhecimento para todos.</p>

            <div class="founder">
                <h3>Fundador e Diretor</h3>
                <p>Danilo Russo nasceu em Gênova, Itália, e mora no Brasil há mais de 15 anos. Estudou fotografia no Instituto Europeu de Design, em Milão, e no seu portfólio há trabalhos importantes realizados para várias revistas de moda como W América, Vogue, Harper´s Bazaar, Uomo, Elle, entre outras. No Brasil, fez editoriais para as revistas Audi Magazine, Elle, Marie Claire e muito mais.</p>

                <p>Convidado em 2001 a ministrar um curso de fotografia de moda por um conceituado espaço cultural em São Paulo, percebeu a carência de cursos na área e decidiu desenvolver uma atividade educacional paralela à sua atividade fotográfica. Nasceu assim, a ideia de ministrar cursos de fotografia de moda, com base na experiência adquirida durante os anos, conseguiu formar uma série de propostas para atender fotógrafos e amadores interessados na especialização da fotografia de moda.</p>

                <p>Em 2009, ampliou sua participação no ensino de fotografia no Brasil e inaugurou o IIF – Instituto Internacional de Fotografia, uma escola que busca capacitar e profissionalizar fotógrafos, sejam eles profissionais ou amadores, nas diversas áreas da fotografia, sempre buscando expandir os conhecimento, melhorar o mercado e formar fotógrafos com excelência, acompanhando e criando tendências do mercado, como a fotografia Newborn na qual foram pioneiros em trazer essa modalidade para o Brasil.</p>

                <p><q>Minha essência é preparar e orientar fotógrafos para realizarem seus objetivos através da fotografia</q> – Danilo Russo</p>
            </div>

            <p>Formamos uma comunidade de apaixonados pela fotografia, composta por profissionais, alunos, amadores e professores. O que une esse grupo é o desejo de se expressar por meio das imagens, aprender e gerar conhecimento. O objetivo do instituto é fomentar o desenvolvimento de um mercado de fotografia profissional responsável e maduro, por meio da formação e aprimoramento dos fotógrafos. Nossos cursos e workshops combinam de forma equilibrada teoria e prática, além de serem ministrados por profissionais reconhecidos. </p>

            <p>Toda a didática é desenvolvida para que os alunos tenham uma vivência real da profissão ou ramo que pretendem exercer e estejam prontos para atuar no mercado profissional. O IIF se configura como um espaço de debate, fomento da cultura e troca de experiências. Acima de tudo, é um espaço aberto a novas ideias, sem barreiras para transformações.</p>

            <p>Conheça mais sobre a atividade educacional de Danilo Russo no site <a href="#">www.danilorusso.com.br</a> e o trabalho fotográfico no site <a href="#">www.estudiodr.com.br</a>.</p>
        </div>
    </div>
</body>
</html>
